@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}
.navbar {
  border-bottom: 2px solid white;
}
.bg {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("images/home-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.title-first,
.title-second {
  font-size: 4rem;
}
.form {
  position: relative;
}
.form .fa-search {
  top: 20px;
  left: 20px;
  color: #ffc107;
  position: absolute;
}
.form span {
  top: 14px;
  right: 18px;
  padding: 2px;
  position: absolute;
  border-left: 2px solid #ffc107;
}
.left-pan {
  padding-left: 8px;
}
.left-pan i {
  cursor: pointer;
  padding-left: 10px;
}
.form-input {
  height: 55px;
  text-indent: 34px;
  border-radius: 10px;
}
.form-input:focus {
  border: none;
  box-shadow: none;
}
.card {
  cursor: pointer;
}
.home-desc {
  font-size: 1.2rem;
}
.contact {
  margin-top: 2em;
  margin-bottom: 1.2em;
}
